#titlePane{
  padding-left: 2vh;
  margin-left: 2vh;
  font-size: 3vh;
}

.leftPane{
  height: 100vh;
  width: 35vh;
  color: white;
  background-color: #08d187;
  position:relative;
  float: left;
  border-radius: 12vh;
}

.messages{
  border: 0.1vh black solid;
  border-radius: 3vh;
  float:left;
  position: relative;
  top:2vh;
  left: 3vh;
  min-height: 5vh;
  width:65vh;
  margin-right: 75vh;
  margin-bottom: 2vh;
}

#from{

  color:black;
  margin-left: 3vh;
  margin-top: 2.5vh;
  font-weight: 100;
  font-size: 2.5vh;
  font-family: cursive;

}

#message{
  color:#08d187;
  margin-top: 1.5vh;
  margin-left: 4vh;
  font-size: 2.2vh;
  font-weight: bolder;
  font-family: monospace;
}

.onlineUsers:hover{
  font-size: 250%;
}

.form{
  position: relative;
  top:74vh;
  left:3vh;
  bottom:2.5vh;
}

.send{
  float: right;
  position: relative;
  left:-3vh;
  bottom: 0.3vh;
}

#sendMsg{
  background-image: url("./send.png");
  background-color: white;
  width: 4.1vh;
  height:4.1vh;
}

#sendLocation{
  background-image: url("./marker.png");
  background-color: white;
  width: 4.3vh;
  height:4.2vh;
}

#textbox{
  width: 142vh;
  height: 3vh;
  padding: 0.3vh;
}

#location{
  font-weight: bold;
}

#location:hover{
  color:#08d187;
}
